* {
		margin:0;
		padding:0;
		list-style-type:none;
	}
a,img {
	border:0;
}
body {
	font:12px/180% Arial,Helvetica,sans-serif,"新宋体";
	background:#d6e9ec;
	background:url(/default/img/bak.jpg)no-repeat;
	
	color:#000;

    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='bg-login.png',sizingMethod='scale');
}
.cf {
	zoom:1
}
.cf:after {
	display:block;
	height:0px;
	visibility:hidden;
	clear:both;
	overflow:hidden;
	content:''
}
/* citybox */ .citybox {
	border-bottom:#a3d7df 1px solid;
	border-left:#a3d7df 1px solid;
	padding-bottom:60px;
	background:#fff;
	border-top:#a3d7df 1px solid;
	border-right:#a3d7df 1px solid;
	box-shadow:0 0 1px #d4edf4;
	width:998px;
	margin:50px auto;
}
.citybox h2 {
	position:relative;
	padding-bottom:0px;
	line-height:30px;
	margin:20px 20px 12px;
	padding-left:14px;
	padding-right:14px;
	zoom:1;
	display:inline-block;
	background:#00c7c7;
	height:32px;
	color:#fff;
	padding-top:0px;
	border-radius:0
}
.citybox h2 span {
	border-bottom:#fff 6px solid;
	position:absolute;
	border-left:#fff 6px solid;
	line-height:0;
	width:0px;
	display:block;
	float:none;
	height:0px;
	font-size:0px;
	border-top:#00c7c7 6px solid;
	top:32px;
	border-right:#fff 6px solid;
	left:20px
}
.citybox li {
	border-bottom:#fff 1px solid;
	border-top:#fff 1px solid
}
.citybox p {
	border-bottom:#fff 1px solid;
	padding-bottom:6px;
	padding-left:30px;
	padding-right:10px;
	border-top:#fff 1px solid;
	padding-top:6px
}
.citybox span.label {
	border-bottom:#ddd 1px solid;
	border-left:#ddd 1px solid;
	line-height:24px;
	width:30px;
	zoom:1;
	display:inline-block;
	height:30px;
	color:#666;
	vertical-align:top;
	border-top:#ddd 1px solid;
	margin-right:5px;
	border-right:#ddd 1px solid;
	border-radius:0
}
.citybox span.label strong {
	border-bottom:#f7f7f7 1px solid;
	text-align:center;
	border-left:#f7f7f7 1px solid;
	width:28px;
	display:block;
	font-family:tahoma;
	background:#f1f1f1;
	height:28px;
	font-size:16px;
	border-top:#f7f7f7 1px solid;
	border-right:#f7f7f7 1px solid;
	border-radius:0
}
.citybox span {
	width:880px;
	zoom:1;
	display:inline-block;
	vertical-align:top
}
.citybox span i {
	font-style:normal;
	margin:0px 3px;
	color:#ccc
}
.citybox .hover {
	border-bottom-color:#e5e5e5;
	border-top-color:#e5e5e5;
	border-right-color:#e5e5e5;
	border-left-color:#e5e5e5
}
.citybox .hover p {
	background:#f7f7f7
}
.citybox .hover span.label {
	border-bottom-color:#1fb7bb;
	border-top-color:#1fb7bb;
	border-right-color:#1fb7bb;
	border-left-color:#1fb7bb
}
.citybox .hover span.label strong {
	border-bottom-color:#00c7c7;
	border-top-color:#00c7c7;
	background:#00c7c7;
	color:#fff;
	border-right-color:#00c7c7;
	border-left-color:#00c7c7
}
.citybox a {
	padding-bottom:1px;
	line-height:20px;
	margin:5px 10px;
	padding:5px 10px;
	zoom:1;
	display:inline-block;
	height:20px;
	border-radius:0;
	font-weight:800;
	color:#339999;
	font-size:14px;
	text-decoration:none;
}
.citybox a:hover {
	background:#00c7c7;
	color:#fff
}